
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --fonte01: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    --fonte02: 'Passion One', Cursive;

    --fonte03: 'Sriracha', Cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0px;
    background-color: darkgray;
    min-height: 100vh;
}

h1 {
    font-variant: small-caps;
    padding-top: 50px;
    font-family: var(--fonte02);
    font-size: 5.5vw;

}

header p {
    padding-bottom: 50px;
    font-size: 1em;
    font-family:var(--fonte01);
   
    
    
    
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    font-family: var(--fonte01);
}

footer a {
    color: white;
    text-decoration: none;
}

main pre {
    font-size: 2vw;
    line-height: 2em;
    font-family: var(--fonte03);
    white-space: pre-line;
    padding-bottom: 2em;
    text-shadow: 1px 1px 0px black;
    

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px; 
}

.normal{
    background-color: white;
    color: black;
    
    
    
}

.fundo {
    color: white;
    
    box-shadow: inset 0px 0px 10px 3px black;
}


.fundo > pre{
    background-color: rgba(0,0,0,0.473);
    width: fit-content;
    padding: 5px;
}

#fundo01 {
    background-image: url(imagens/purple-669042_1280.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}

#fundo02 {
    background-image: url(imagens/flower-4211521_1280.jpg);
    background-attachment: fixed;
    background-size: cover;
}