
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0px;
    background-color: darkgray;
    min-height: 100vh;
}

h1 {
    font-variant: small-caps;
    font-size: 3.8em;
    padding-top: 50px;
}

header p {
    padding-bottom: 50px;
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
    
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Passion One';
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
}

main pre {
    font-size: 21px;
    line-height: 2em;
    font-family: 'Sriracha';
    white-space: pre-line;
    

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px; 
}

.normal{
    background-color: white;
    color: black;
    
    
}

.fundo {
    color: white;
}


.fundo > pre{
    background-color: rgba(0,0,0,0.253);
    width: 400px;
}

